.search{
    margin-bottom:25px;

}
.button_size1{
margin-left:69.15%;
background-color: #c4c4c4;
border: none;
}
.button_size{
    margin-left:18px;
    border-radius: 5px;
    margin-right:35px;
    background-color: #3213ad;
    border: none;
}